<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wish.repository.mapper.TbSysUserMapper">
  <resultMap id="BaseResultMap" type="com.wish.data.entity.TbSysUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="last_modified" jdbcType="TIMESTAMP" property="lastModified" />
    <result column="role_group_id" jdbcType="INTEGER" property="roleGroupId" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="upwd" jdbcType="VARCHAR" property="upwd" />
    <result column="user_state" jdbcType="INTEGER" property="userState" />
  </resultMap>

  <select id="selectByUnameAndPwd" resultMap="BaseResultMap">
    select * from tb_sys_user where login_name = #{loginName} and upwd = #{upwd}
  </select>

  <select id="selectUserPage" resultType="com.wish.data.entity.TbSysUser">
    select * from tb_sys_user
  </select>

  <select id="selectPageByRoleGroupId" resultType="com.wish.data.entity.TbSysUser">
    select * from tb_sys_user where role_group_id = #{roleGroupId}
  </select>
</mapper>