<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wish.repository.mapper.TbSysUserMapper">
  <resultMap id="BaseResultMap" type="com.wish.data.entity.TbSysUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="last_modified" jdbcType="TIMESTAMP" property="lastModified" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="role_group_id" jdbcType="INTEGER" property="roleGroupId" />
    <result column="upwd" jdbcType="VARCHAR" property="upwd" />
    <result column="user_state" jdbcType="INTEGER" property="userState" />
  </resultMap>

  <!-- 以下是进行演示的例子 -->

  <select id="selectByUnameAndPwd" resultMap="BaseResultMap">
    select * from tb_sys_user where login_name = #{loginName} and upwd = #{upwd}
  </select>

  <select id="selectUserPage" resultType="com.wish.data.entity.TbSysUser">
    select * from tb_sys_user
  </select>

  <select id="selectPageByRoleGroupId" resultType="com.wish.data.entity.TbSysUser">
    select * from tb_sys_user where role_group_id = #{roleGroupId}
  </select>

  <select id="selectLoginNameByRoleGroupId" resultMap="BaseResultMap">
  select login_name
  from tb_sys_user
  where
  role_group_id = #{roleGroupId,jdbcType=BIGINT}
  </select>

  <select id="selectLoginNameByUserState" resultType="String">
    select login_name
    from tb_sys_user
    <where>
      <if test="userState != null">
        user_state = #{userState,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="selectLoginNameByUserStateReturnMap" resultType="java.util.Map">
  select login_name
  from tb_sys_user
  where
  user_state = #{userState,jdbcType=INTEGER}
  </select>

  <select id="selectLoginNameByUserStateReturnMapPage" resultType="java.util.Map">
  select login_name
  from tb_sys_user
  where
  user_state = #{userState,jdbcType=INTEGER}
  </select>

  <select id="selectByObj" resultType="com.wish.data.entity.TbSysUser">
  select login_name
  from tb_sys_user
  where
  user_state = #{user.userState,jdbcType=INTEGER}
  </select>

  <select id="selectUserPageByLeft" resultType="com.wish.data.entity.TbSysUser">
    select * from tb_sys_user a left join tb_role_group b on a.role_group_id = b.role_state

  </select>

  <select id="selectUserByLeft" resultType="com.wish.data.entity.TbSysUser">
    select * from tb_sys_user a left join tb_role_group b on a.role_group_id = b.role_state
  </select>

  <select id="selectCountUserByLeft" resultType="Long">
    select count(1) from tb_sys_user a left join tb_role_group b on a.role_group_id = b.role_state
  </select>
</mapper>